:root {
  --color-program: #32C7BE;
  --color-user: #2C3E99;
  --color-choice: #941F56;
  --color-theory: #F27E7E;
  --color-accent: #941F56;
  --color-grey: #E0E0E0;
  --color-light: #EEEEEE;
  --color-dark: #757575; 
  --color-pink: #F27E7E; 
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
}

.paddingSmall {
  padding: 8px;
}

.paddingMedia {
  padding: 16px;
}

.paddingLarge {
  padding: 24px;
}

.marginHSmall {
  margin-left: 8px;
  margin-right: 8px;
}

.marginHMedium {
  margin-left: 16px;
  margin-right: 16px;
}

.marginHLarge {
  margin-left: 24px;
  margin-right: 24px;
}

.hoverableSvg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-grey);
  cursor: pointer;
}

.hoverableSvg svg:hover path {
  fill: var(--color-accent);
}

.iconClicked {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-accent);
  cursor: pointer;
}

.iconClicked svg path {
  fill: white;
}

.greyBoldText {
  color: var(--color-dark);
  font-weight: bold;
  font-size: 13pt;
}

.pinkText {
  color: var(--color-pink);
  font-weight: bold;
}

@keyframes AppearFlex {
  from  { opacity: 0; }
  60%  { opacity: 0; }
  to { opacity: 1; }
}

@keyframes AppearBlock {
  from  { opacity: 0; }
  60%  { opacity: 0; }
  to { opacity: 1; }
}
