:root {
  --color-program: #32C7BE;
  --color-user: #2C3E99;
  --color-choice: #941F56;
  --color-theory: #F27E7E;
  --color-accent: #941F56;
  --color-grey: #E0E0E0;  
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  justify-content: center;
}

.paddingSmall {
  padding: 8px;
}

.paddingMedia {
  padding: 16px;
}

.paddingLarge {
  padding: 24px;
}

.marginHSmall {
  margin-left: 8px;
  margin-right: 8px;
}

.marginHMedium {
  margin-left: 16px;
  margin-right: 16px;
}

.marginHLarge {
  margin-left: 24px;
  margin-right: 24px;
}

.hoverableSvg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-grey);
  cursor: pointer;
}

.hoverableSvg svg:hover path {
  fill: var(--color-accent);
}

.iconClicked {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-accent);
  cursor: pointer;
}

.iconClicked svg path {
  fill: white;
}
